.about .row:first-child {
    padding: 5% 10% 20px;
  }

  .about > row{
    align-items: center;
  }
  
  .about .row:first-child p {
   
  }
  
  .about .sub {
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .about h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .about hr {
    width: 40px;
    margin: 20px 0;
    border: 2px solid #000;
  }
  
  .about p {
    font-size: 1.2rem;
  }

  .about img{
    width: 100%;
  }
  
  .about .mission-contain {
    justify-content: space-between;
   
  }
  
  .about .mission, .about .vision {
    padding: 20px;
    text-align: center;
    background-color: #f8f4f4;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cec8c8;
  }
  
  .about .mission {
    background-color: #cec8c8;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 992px) {
    .about .row:first-child {
      padding: 5% 5% 20px;
    }
  
    .about .mission-contain {
      padding: 10px 5%;
    }
  
    .about .mission, .about .vision {
      padding: 15px;
    }
  
    .about p {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 768px) {
    .about .row:first-child {
      padding: 5% 5% 20px;
    }
  
    .about .mission-contain {
      padding: 0;
    }
  
    .about .mission, .about .vision {
      padding: 10px;
    }
  
    .about p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .about .row:first-child {
      padding: 5% 3% 20px;
    }
  
    .about .mission-contain {
      padding: 0;
      column-gap: 0;
    }
  
    .about .mission, .about .vision {
      padding: 10px;
    }
  
    .about p {
      font-size: 0.9rem;
    }
  
    .about h3 {
      font-size: 1.5rem;
    }
  
    .about hr {
      width: 30px;
    }
  }
  