.core {
    background-color: rgb(7, 7, 22);
    color: white;
  }
  
  .core .row:first-child {
    padding: 5% 5% 20px;
  }
  
  .core .row:first-child p {
    text-align: justify;
  }
  
  .core .sub {
    text-align: center !important;
  }
  
  .core h3 {
    text-align: center;
  }
  
  .core hr {
    width: 40px;
    margin: 20px auto;
    border: 2px solid #d6d6d6;
  }
  
  .core p {
    font-size: 1.2rem;
    text-align: justify;
  }
  
  .core-content {
    padding: 10px 10% 5% 10%;
  }
  
  .core-content .col {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .core h4 {
    display: flex;
    align-items: center;
  }
  
  .core .icon {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .core {
      padding: 2% 5%;
    }
  
    .core p {
      font-size: 1rem;
    }
  
    .core-content {
      padding: 0 5%;
    }
  }
  
  @media (max-width: 576px) {
    .core-content {
      padding: 0 3%;
    }
  
    .core p {
      font-size: 0.9rem;
    }
  
    .core hr {
      width: 30px;
    }
  
    .core h3 {
      font-size: 1.5rem;
    }
  }
  