.story .designer-story {
    background-color: #e0f2ff;
    padding: 5% 10%;
    align-items: center;
}

.story img{
    width: 100%;
}

.artist-story p{
    font-size: 1.1rem;
}

.artist-story ul {
    list-style-image: url("../assets/images/icons.png");
}

.artist-story li{
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.artist-story {
    padding: 5% 10%;
    align-items: center;
}

.designer-story .col {
    flex: 1;
}

.designer-story p{
    font-size: 1.1rem;
}

.artist-story hr {
    width: 40px;
    border: 2px solid #000;
    
  } 
  
.designer-story hr {
    width: 40px;
    border: 2px solid #000;
    
  }

.designer-story li{
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.designer-story ul {
    list-style-image: url("../assets/images/icons.png");
}

.artist-story .col {
    flex: 1;
}

button{
    background: transparent;
    color: black !important;
    border: black solid 1px !important;
    margin-top: 10px;
}

button:hover{
    background-color: #000000 !important;
    color: #e0f2ff !important;
    
}
