.main-menu{
    width: 100%;
    justify-content: end;
    align-items: center;
}

div .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
}

button{
    background-color: #e0f2ff !important;
    color: black !important;
    border: none !important;
}

button:hover{
    background-color: #000000 !important;
    color: #e0f2ff !important;
    
}

.main-menu a{
    font-size: 1.2rem;
}